.contact_section{
    height: 120vh;
    background-image: url(../../public/images/bgcontact3.png); 
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.form_container{
    background: #00617230;
    backdrop-filter: blur(5px);
    width: 40%;
    height: 65em;
    border-radius: 7px;
}
.form_container h2{
    padding-top: 55px;
    color: #ffffff;
    font-size: 35px;
}
.textfields_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.textfields_container input{
    width: 70%;
    height: 50px;
    border-radius: 7px;
    border: transparent;
    font-size: 16px;
}
#input_message{
    padding-bottom: 70px;
}
#input_submit{
    width: 200px;
    background: #006072;
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.4s;
    cursor: pointer;
}
#input_submit:hover{
    background: #002f38;
    color: rgb(253, 253, 253);
}

.contact_footer{
    margin-top: 50px;
    display: flex;
    gap: 60px;
    color: white;
}
.contact_footer img{
    width: 5em;
}
.contact_subtittle{
    height: auto;
}
.select_client{
    width: 70%;
    height: 50px;
    border-radius: 7px;
    border: transparent;
    font-size: 16px;
}
.checkbox_inputs{
    display: flex;
    gap: 50px;
    margin: 0;
}
.checkbox_inputs input[type=checkbox]{
    width: 24px;
    cursor: pointer;
}
.box_checkbox_input p{
    margin: 0;
}
.error-checkbox {
    border: 1px solid red;
  }
@media (max-width: 1300px) {
    .form_container{
        width: 70%;

    }
    .contact_subtittle{
        font-size: 14px;
    }
}
@media (max-width: 700px) {
    .contact_section{
        height: 160vh;
    }
    .contact_section h2{
        font-size: 1.6em;
    }
    .contact_footer{
        flex-direction: column;
        gap: 0;
    }
    .form_container{
        height: 85em;
    }
    .checkbox_inputs{
        gap: 10px;
    }
    .box_checkbox_input p{
        font-size: 14px;
    }
}
@media (max-width: 400px) {
    .textfields_container input{
        font-size: 14px;
        height: 35px;
    }
    .contact_section h2{
        font-size: 1.3em;
    }
    .form_container{
        height: 82em;
    }    
    #input_submit{
        width: 80%;
    }
    .box_checkbox_input p{
        font-size: 11px;
    }
    .contact_subtittle{
        font-size: 12px;
    }
}