.arrow_container{
    position: fixed;
    bottom: 8%;
    right: 2%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.arrow{
    position: absolute;
    bottom: 1%;
    right: 1%;
    cursor: pointer;
    transition: all 2.5s;
}
.whatsapp{
    font-size: 37px;
    color: #006172;
}
.arrow{
    background: rgb(255, 255, 255);
    color: #006172;
    border: 0.9px solid #00617255;
    border-radius: 50%;
    padding:7px 10px 7px 10px;
    font-size: 19px;
    font-weight: 100;
    transition: 0.4s;
}
.arrow:hover{
    background: transparent;
    transition: 0.4s;
    color: white;
}