.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.navbar_home{
  background-image: url(./../public/images/homebg.png); 
  background-size: cover;
  background-position: center;
}